body {
    font-family: 'Roboto Light', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #445268;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.flex-layout {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex_1 {
    flex: 1;
}

.flex-between {
    justify-content: space-between;
}

.flex-content-center {
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #12A397;
    font-size: 12px;
    display: inline-block;
}

.align-right {
    text-align: right;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-64 {
    padding-bottom: 64px;
}

.fs-12 {
    font-size: 12px;
}

.link:hover {
    text-decoration: underline;
}

/* ////////////////////////////////////// */
:root {
    --bg-color: #F9FAFB;
    --bg-color-white: #fff;
    --sidebar-width: 232px;
    --header-height: 64px;
    --content-pd: 64px;
    --content-pd-small: 32px;
    --content-max-width: 1440px;
}

body {
    background-color: var(--bg-color);
}

.wrapper, .sidebar, main, content {
    height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    border-right: 1px solid #eee;
    background-color: var(--bg-color-white);
}

.header {
    background-color: var(--bg-color-white);
    border-bottom: 1px solid #eee;
    height: var(--header-height);
    width: 100%;
}

.content {
    padding: var(--content-pd);
    max-width: var(--content-max-width);
    width: 100%;
}

@media (max-width: 1280px) { 
    .content {
        padding: var(--content-pd-small);
    }
}


h1 {
    font-family: 'Atlas Grotesk', 'Roboto', 'Helvetica Neue', sans-serif;
    color: #354052;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
}

.card {
    background-color: var(--bg-color-white);
    border: 1px solid #eee;
    border-radius: 4px;
    min-height: 300px;
    width: 100%;
    margin-bottom: 32px;
}

.divider {
    padding: 32px 0 0;
    margin-bottom: 32px;
    border-bottom: 1px solid #eee; 
}
